$inkBlack: rgb(49, 49, 49); // 墨黑色
$lightGray: rgb(246, 246, 246); // 浅灰色
$littleGray: rgb(230, 230, 230); // 点点灰
$grayWhite: rgb(250, 250, 250); // 灰白色
$brightGreen: rgb(34, 213, 156); // 亮绿色
$brightBlue: rgb(34, 92, 254); // 亮蓝色
